root {
    display: block;
}

body {
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
}

#board {
    padding-top: 10px;
    width: 570px;
    height: 450px;
    background-color: rgb(228, 223, 208);
    overflow: hidden;
}

.table-wrapper {
    position: absolute;
    right: 20px;
    left: 20px;
}

#highscores {
    width: 100%;
    text-align: center;
}

td, th {
    text-align: center;
}

caption {
    text-align: center;
    color: white;
}

#startGameButton, #highScoresButton {
    font-weight: 400;
    padding-bottom: 10px;
    display: block;
    width: 50%;
    float: left;
}

#triesCount {
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.tile {
    float:left;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
    cursor: pointer;
}

.tile img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    width: 50px;
}

.tileColor {
    background-color: rgb(176, 235, 23);
}